go 1.26.3

use (
	.
	./examples/2d
	./examples/3d
	./examples/app
	./examples/asset
	./examples/async
	./examples/audio
	./examples/diagnostic
	./examples/ecs
	./examples/editor
	./examples/math
	./examples/networking
	./examples/physics
	./examples/scene
	./examples/stress_test
	./examples/ui
	./examples/world
)
